body{
	background-color: white;
}

.nav-item {
	font-weight: 600;
}

.gda_login {
	color: #14AE5C;
	font-weight: 600;
	margin: 0 15px;
	text-decoration: none;
}

.gda_button_access{
	background-color: #00826D
}
.gda_bg{
	padding-top: 5em;
}
.gda_services{
	display: block;
	align-items: center;
	border: 1px solid;

}
